RewriteEngine on
RewriteRule ^account/?$ account.php [NC]
RewriteRule ^account/([a-zA-Z0-9_]+)/?$ account.php?handle=$1 [NC]
RewriteRule ^login/?$ login.php [NC]
RewriteRule ^signup/?$ signup.php [NC]
RewriteRule ^api/(.+)/?$ api.php?action=$1 [NC]
