/*Please use one global stylesheet and also get the minify package in atom. Thank you. :D*/

* {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0px;
  padding: 0px, 0px, 0px, 0px;
}

.l-body {
  background: #e2e1e0;
}

/* TOP BAR */

.top-bar {
  grid-area: top-bar;
  background-color: #222;
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 55px;
  display: grid;
  grid-template-columns: 50px 90px 90px 1fr 90px;
  grid-template-rows: 10px 35px 10px;
  grid-template-areas: ". . . . ." ". logo . s si" ". . . . .";
}

.logo {
  grid-area: logo;
  position: relative;
  top: 0px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.searchbar {
  grid-area: s;
  position: relative;
  font-family: Roboto;
  padding: 8px 8px 8px 25px;
  font-size: 17px;
  width: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  background-color: #eee;
  z-index: 100;
}

.search-g {
  position: relative;
  top: -10px;
}

.context {
  position: relative;
  width: 100%;
  height: 180px;
  z-index: 1;
}

.title {
  position: relative;
  color: #222;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 20px;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 30px;
}

.section {
  height: 40px;
  width: 100%;
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: lighter;
  color: #222;
  border: none;
  font-size: 18px;
  display: table;
  cursor: pointer;
}

.section:hover {
  background: #ddd;
}

.s-txt {
  position: relative;
  float: left;
  top: 10.5px;
  margin-left: 20px;
  font-size: 16px;
}

.s-notes {
  position: relative;
  top: 6px;
  float: right;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #666;
  background: #ccc;
  padding: 2px 8px 2px 8px;
  margin: 3px 40px 3px 2px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.s-icon {
  position: relative;
  float: left;
  margin-left: 55px;
  top: 7px;
  color: #444;
}

.s-avatar {
  position: relative;
  float: left;
  top: 7.5px;
  width: 25px;
  height: 25px;
  margin-left: 55px;
  border-radius: 50%;
  background: #ddd;
}

.subscriptions {
  margin: auto;
  position: relative;
  top: -10px;
}

/* SUPPORT */

.support {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 700px;
  height: 112px;
  padding: 5px 5px 5px 5px;
}

.s-title {
  font-family: ;
  color: #222;
  font-size: 19px;
  font-weight: bold;
}

.s-bar {
  position: relative;
  float: left;
  width: 100%;
}

.s-b {
  position: relative;
  float: left;
  margin-top: 20px;
  width: 87%;
  height: 3px;
  background: #009CDE;
  border-radius: 2px;
}

.s-percent {
  position: relative;
  float: right;
  margin-top: 11px;
  margin-right: 10px;
}

.s-text {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.donate {
  position: relative;
  margin-top: 30px;
  float: right;
  cursor: pointer;
}

.paypal {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  color: #009CDE;
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/* SIDENAV */

.sidenav {
  position: fixed;
  float: left;
  height: 100%;
  width: 400px;
  background: #eee;
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.image {
  width: 60px;
  height: 60px;
  margin-top: 13px;
  margin-right: 5px;
  position: relative;
  background: #999;
  border-radius: 50%;
  float: left;
}

.n-name {
  font-size: 20px;
  margin-right: auto;
  margin-top: 2px;
}

.username {
  width: 130px;
  height: 18px;
  position: relative;
  float: left;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
}

.name {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  margin: none;
  float: left;
}

.info {
  position: relative;
  top: -5px;
  margin-left: 10px;
  float: left;
}

/* CHANGE NAME LATER */

.karma {
  width: 130px;
  height: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;
}

.rank {
  width: 100px;
  height: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;
}

.followers {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 600;
  color: #222;
  padding: 5px 16px 0px 75px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  float: left;
}

.user-info {
  width: 80%;
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 55px;
}

.line {
  height: 1px;
  width: 80%;
  margin: auto;
  background: #ccc;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* H CONTENT */

.h-content {
  position: relative;
  margin-left: 400px;
  width: auto;
  height: auto;
  margin-top: 55px;
  top: -19px;
}

.h-row {
  position: relative;
  width: 100%;
  height: 200px;
  top: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.h-post {
  position: relative;
  top: 5px;
  left: 5px;
  float: left;
  height: 200px;
  /* set to auto later */
  width: 200px;
  background: #ddd;
  margin: 5px;
  cursor: pointer;
}

.h-post:hover .h-post-info {
  display: block;
}

.h-op {
  width: 100%;
  height: 30px;
  /* background: rgba(34, 34, 34, 0.2); */
  position: relative;
}

.h-p {
  position: relative;
  float: left;
  font-weight: 100;
  font-size: 15px;
  margin-top: 11px;
  color: #666;
}

.op-pp {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #bbb;
  position: relative;
  margin-left: 7px;
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

.h-post-info {
  display: none;
  width: 100%;
  height: 50px;
  background: rgba(34, 34, 34, 0.2);
  position: absolute;
  bottom: 0;
  cursor: default;
}

.h-upcount {
  position: relative;
  float: left;
  top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.h-p-likes {
  opacity: 1;
  position: relative;
  color: #222;
  float: left;
  top: 14px;
  margin-left: 10px;
  font-size: 16px;
  cursor: default;
}

.h-search-tools {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

.h-s-txt {
  position: relative;
  float: left;
  top: 14px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.h-more {
  position: relative;
  top: 10px;
  float: right;
  margin-right: 12px;
  cursor: pointer;
}

/*  */

.c-image {
  background-color: #eee;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  position: relative;
  float: left;
  cursor: pointer;
  border-radius: 3px;
}

.layer {
  height: 300px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

* {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0px;
  padding: 0px, 0px, 0px, 0px;
  z-index: 0;
}

p {
  font-family: Roboto;
  font-weight: 500;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* TOP BAR */

.top-bar {
  grid-area: top-bar;
  background-color: #222;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 55px;
  display: grid;
  grid-template-columns: 50px 90px 90px 1fr 90px;
  grid-template-rows: 10px 35px 10px;
  grid-template-areas: ". . . . ." ". logo . s si" ". . . . .";
}

.logo {
  grid-area: logo;
  position: relative;
  top: 0px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.sign-in {
  grid-area: si;
  position: relative;
  justify-self: center;
  top: 9px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: medium;
  font-size: 15px;
}

/* SEARCH RESULT BOX */

.search-result-box {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 8px 8px 8px 25px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  left: -25px;
  top: 30px;
}

.search-op {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.res-p {
  font-family: 'Roboto', sans-serif;
}

.search-featured-box {
  width: 100%;
  height: auto;
  position: relative;
  top: 50px;
}

.s-box-holder {
  width: auto;
  height: 117px;
  margin-top: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
  /* make box holder scroll horizontally */
}

.s-box {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-right: 10px;
  position: relative;
  float: left;
}

/* END OF SEARCH BAR */

.searchbar {
  grid-area: s;
  position: relative;
  font-family: Roboto;
  padding: 8px 8px 8px 25px;
  font-size: 17px;
  width: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  background-color: #eee;
  z-index: 100;
}

.pepe {
  width: 100%;
  height: 55px;
  background: green;
}

/* ACCOUNT */



.image {
  width: 60px;
  height: 60px;
  margin-top: 13px;
  margin-right: 5px;
  position: relative;
  background: #999;
  border-radius: 50%;
  float: left;
}

.n-name {
  font-size: 20px;
  margin-right: auto;
  margin-top: 2px;
}

.username {
  width: 130px;
  height: 18px;
  position: relative;
  float: left;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
}

.name {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  margin: none;
  float: left;
}

.info {
  position: relative;
  top: -5px;
  margin-left: 10px;
  float: left;
}

/* CHANGE NAME LATER */

.karma {
  width: 130px;
  height: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;
}

.follow {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #eee;
  background: #4167f4;
  padding: 8px 16px 8px 16px;
  margin: 10px 2px 3px 2px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.a-user-info {
  width: 80%;
  height: 100px;
  position: relative;
  margin: auto;
}

/*  */

.fav-holder {
  width: 80%;
  height: 20px;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
}

.div-line {
  height: 1px;
  width: 35%;
  margin: auto;
  background: #ccc;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.div-text {
  float: left;
  font-family: Roboto;
  font-size: 15px;
  font-weight: lighter;
}

/* MEME TYPE */

.meme-type {
  width: 80%;
  max-height: 400px;
  margin: auto;
  position: relative;
  top: -10px;
  overflow-y: auto;
}

.type {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #666;
  background: #ccc;
  padding: 2px 8px 2px 8px;
  margin: 3px 2px 3px 2px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.s-searchbar {
  position: relative;
  font-family: Roboto;
  padding: 8px 8px 8px 8px;
  font-size: 17px;
  width: 80%;
  margin: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  background-color: #eee;
  z-index: 100;
}

/* RESULTS */

.result-box {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 0.1px;
  margin-top: 10px;
}

.result-scroll {
  width: 100%;
  overflow: auto;
}

.r-container {
  width: 300px;
  height: 50px;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}

.r-image-preview {
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  float: left;
}

.r-desc {
  width: 80%;
  height: auto;
  position: relative;
  float: left;
  margin-left: 5px;
}

.r-title-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 2px;
}

.r-tags {
  width: 90%;
  height: 22px;
  margin-top: 10px;
  overflow-x: auto;
  padding-right: 40px;
}

.r-type {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #666;
  background: #ccc;
  padding-left: 8px;
  padding-right: 8px;
  padding: 2px 8px 2px 8px;
  margin: 0px 2px 0px 2px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  top: -1px;
}

/* CONTENT */

.content {
  width: auto;
  height: auto;
  margin-left: 400px;
  margin-right: 71px;
}

.c-box {
  width: 100%;
<<<<<<< HEAD
=======
  <<<<<<< HEAD height: 200px;
  background: red;
  =======height: 300px;
>>>>>>> b046b97bb079b95895d6fa0df35064f6f67e0081
}

.c-popular {
  position: relative;
  height: 170px;
  width: 810px;
  margin-right: auto;
  margin-left: auto;
}

.c-pop-cont {
  position: relative;
  height: 200px;
  overflow: none;
  padding-bottom: 17px solid #eee;
<<<<<<< HEAD
=======
  >>>>>>>a6dc2814300f2815bf5d68aef1b5424190cdd5a0
>>>>>>> b046b97bb079b95895d6fa0df35064f6f67e0081
}

.library {
  width: auto;
  height: 60px;
  background: #f5f5f5;
  border-bottom: 2px #ddd solid;
  cursor: pointer;
}

.l-title {
  font-family: Roboto;
  font-weight: 200;
  color: #444;
  font-size: 30px;
  margin: 0px 0px 5px 20px;
  position: relative;
  top: 10px;
  float: left;
}

.l-settings {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, -0.02, 0.23, 0.99);
  z-index: 1;
}

/* set coordinates through JS */

/* As a result of this we may only ever need one on the HTML side */

/* Just to be safe I put two, just remove it if it's redundant */

/* if screen is clicked anywhere else = quit */

/* scrolling works perfectly though */

/* Also please give it a cool animation */

.l-sett-opt {
  width: 130px;
  height: auto;
  background: #fdfdfd;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  right: 130px;
  top: 70px;
  z-index: 100;
  cursor: default;
  transition: right 0.2s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.88, -0.01, 0.01, 1.01);
  z-index: 100000;
}

.l-sett-button {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 600;
  color: #444;
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.l-line {
  height: 1px;
  width: 80%;
  margin: auto;
  background: #ccc;
  border-radius: 10px;
  position: relative;
}

/* END OF SECTION */

.l-drop {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  z-index: 1;
}

.l-content {
  margin-left: 5px;
  margin-top: 4px;
  width: auto;
  height: auto;
  position: relative;
  /*Change this for the curve*/
  transition-timing-function: cubic-bezier(0, 0.98, 0.21, 0.99);
  transition: height 0.3s;
  overflow: hidden;
}

.l-img {
  width: 100px;
  height: 100px;
  background: #ddd;
  position: relative;
  float: left;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 5px;
}

.l-img:hover {
  background: #c6c6c6;
}

/* MESSAGE */

.imp-bg-fade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10000;
  background: #222;
  opacity: 0.2;
  transition-timing-function: linear;
  transition: opacity 0.5s;
}

.imp-message {
  position: absolute;
  right: 40%;
  top: 40%;
  width: 300px;
  height: auto;
  background: #fdfdfd;
  border-radius: 2px;
  padding: 8px 8px 8px 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 100000;
  cursor: default;
  opacity: 1;
  transition-timing-function: linear;
  transition: opacity 0.2s;
}

.imp-title-holder {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.imp-icon {
  position: relative;
  font: Roboto;
  float: left;
  color: #444;
  margin-left: 10px;
}

.imp-title {
  position: relative;
  float: left;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.imp-p {
  z-index: 100000;
  text-align: left;
  font-weight: 300;
  margin-bottom: 7px;
  margin-left: 10px;
}

.imp-op-1 {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 600;
  color: #444;
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
  z-index: 100000;
}

.imp-op-2 {
  position: relative;
  text-decoration: none;
  right: 0px;
  font-family: Roboto;
  font-weight: 600;
  color: #444;
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
  z-index: 100000;
}

.material-icons {
  color: #222;
  font-size: 27px;
  position: relative;
  top: 2px;
}

/* EDIT MENU */

.edit-menu {
  position: fixed;
  right: 0px;
  height: 100%;
  width: 70px;
  background: #f5f5f5;
  border-left: 1px #ddd solid;
  z-index: 10;
}

.edit-icons {
  position: relative;
  font-size: 29px;
  width: auto;
  height: auto;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #444;
  cursor: pointer;
}

.edit-icons:hover {
  color: #333;
}

* {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0px;
  padding: 0px, 0px, 0px, 0px;
}

/* LOGIN */

.login-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 10px;
}

.color-block {
  width: 100%;
  height: 100px;
  background: #222;
  padding: 15px;
  position: relative;
  top: -15px;
  left: -15px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-bottom: 30px;
}

.login-block {
  width: 400px;
  height: 400px;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 15px;
  background: #fff;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-sub {
  font: Roboto;
  font-size: 10px;
  color: #999;
  margin-left: 40px;
}

.input {
  position: relative;
  font-family: Roboto;
  padding: 0px 8px 0px 8px;
  font-size: 17px;
  width: 80%;
  margin: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  z-index: 100;
  margin-bottom: 8px;
}

.alt {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #222;
  background: inherit;
  padding: 8px 0px 8px 0px;
  margin: 3px 2px 3px 40px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
  bottom: 0px;
}

* {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0px;
  padding: 0px, 0px, 0px, 0px;
}

/* LOGIN */

.color-block {
  width: 100%;
  height: 100px;
  background: #222;
  padding: 15px;
  position: relative;
  top: -15px;
  left: -15px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-bottom: 30px;
}

.signup-block {
  width: 400px;
  height: 500px;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 15px;
  background: #fff;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-sub {
  font: Roboto;
  font-size: 10px;
  color: #999;
  margin-left: 40px;
}

.input {
  position: relative;
  font-family: Roboto;
  padding: 0px 8px 0px 8px;
  font-size: 17px;
  width: 80%;
  margin: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  z-index: 100;
  margin-bottom: 8px;
}

.button {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #fff;
  background: #222;
  padding: 8px 16px 8px 16px;
  margin: 3px 40px 3px 2px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: right;
  bottom: 0px;
}

.l-buttons {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0px;
  top: 50px;
}

.alt {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  color: #222;
  background: inherit;
  padding: 8px 0px 8px 0px;
  margin: 3px 2px 3px 40px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
  bottom: 0px;
}

.meme-preview-box {
  position: relative;
  height: 650px;
  width: 1000px;
  background: #f3f3f3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.meme-img {
  height: 650px;
  position: relative;
  /* Change to auto when img bg is changed */
  width: 650px;
  background: #ddd;
  position: relative;
  float: left;
}