* {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0px;
  padding: 0px,0px,0px,0px;
}

.body{
  background: #F5F5F6;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* TOP BAR */

.top-bar {
  grid-area: top-bar;
  background-color: #222;
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 55px;
  display: grid;
  grid-template-columns: 50px 90px 90px 1fr 90px;
  grid-template-rows: 10px 35px 10px;
  grid-template-areas:
  ". . . . ."
  ". logo . s si"
  ". . . . ."
  ;

}

.logo {
  grid-area: logo;
  position: relative;
  top: 0px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
}

.sign-in {
  grid-area: si;
  position: relative;
  justify-self: center;
  top: 9px;
  color: #fff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: medium;
  font-size: 15px;
}

.searchbar {
  grid-area: s;
  position: relative;
  font-family: Roboto;
  padding: 8px 8px 8px 25px;
  font-size: 17px;
  width: auto;
  color: #222;
  border: none;
  border-radius: 2px;
  background-color: #eee;
  z-index: 100;

}

.search-g {
  position: relative;
  top: -10px;
}

.context {
  position: relative;
  width: 100%;
  height: 180px;
  z-index: 1;
}

.pepe {
  width: 100%;
  height: 55px;
  background: green;
}

.title {
  position: relative;
  color: #222;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 20px;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 30px;

}

/* SUPPORT */

.support {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 700px;
  height: 112px;
  padding: 5px 5px 5px 5px;

}

.s-title {
  font-family: ;
  color: #222;
  font-size: 19px;
  font-weight: bold;
}

.s-bar {
  position: relative;
  float: left;
  width: 100%;
}

.s-b {
  position: relative;
  float: left;
  margin-top: 20px;
  width: 87%;
  height: 3px;
  background: #009CDE;
  border-radius: 2px;

}

.s-percent {
  position: relative;
  float: right;
  margin-top: 11px;
  margin-right: 10px;
}

.s-text {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;

}

.donate {
  position: relative;
  margin-top: 30px;
  float: right;
  cursor: pointer;


}

.paypal {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  color: #009CDE;
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/* SIDENAV */

.sidenav {
  position: fixed;
  float: left;
  height: 100%;
  width: 400px;
  background: #eee;
}

.image {
  width: 60px;
  height: 60px;
  margin-top: 13px;
  margin-right: 5px;
  position: relative;
  background: #999;
  border-radius: 50%;
  float: left;

}

.n-name {
  font-size: 20px;
  margin-right: auto;
  margin-top: 2px;
}

.username {
  width: 130px;
  height: 18px;
  position: relative;
  float: left;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
}

.name {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  margin: none;
  float: left;

}

.info{
  position: relative;
  top: -5px;
  margin-left: 10px;
  float: left;

}

/* CHANGE NAME LATER */
.karma {
  width: 130px;
  height: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;

}

.rank {
  width: 100px;
  height: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;

}

.followers {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 600;
  color: #222;
  padding: 5px 16px 0px 75px;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  float: left;
}

.user-info {
  width: 80%;
  height: 100px;
  position: relative;
  margin: auto;
}

.line {
  height: 1px;
  width: 80%;
  margin: auto;
  background: #ccc;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CONTENT */

.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.c-image {
  background-color: #eee;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  position: relative;
  float: left;
  cursor: pointer;
  border-radius: 3px;
}

.layer {
  height: 300px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
